#banner img{
    width: 100%;
    height: 650px;
    background-position: 50% 50%;
    background-repeat: no-repeat center top;
    background-size: cover;
    background: no-repeat top;
   
    
  }
  
  
  #bg-color{
      background-color: RGBA(0, 0, 0, 0.61);
      min-height: 630px;
  }
  #banner p{
  color:whitesmoke;
  padding: 2rem;
  font-size:4rem;
  }
  
    
  